# configuration
configs/**/*
!configs/**/*.example*
!configs/**/*.rb
!configs/**/*.erb
!configs/nginx
!configs/nginx/snippets
!configs/nginx/snippets/*.example*
!configs/nginx/snippets/ssl-params.conf
!configs/nginx/sites
!configs/nginx/sites/*.example*

# temp
.sass-cache/
logs/
tmp/
*.bak
*~

# uploaded files
#public/files

# dumps
*.sql

# seo files
#views/site/sitemap.html
#public/robots.txt
